{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-wrap">
    <div class="copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved.</div>
    <div class="by">
      <a href="http://godofredo.ninja/godofredo"><span class="icon-code"></span> <span>by GodoFredo</span></a> &nbsp;&nbsp;&nbsp; <span class="icon-separate"></span> &nbsp;&nbsp;&nbsp; <a href="http://dataplumbing.net"><span class="icon-code-fork2"></span> <span>by thedataplumber</span></a>
    </div>
  </div>
</footer>
<div class="overlay"></div>
