{{!-- Sidebar right --}}
<div id="sidebar" class="sidebar show-on-medium-screen">

  {{!-- Add your content here --}}
  <div class="about">
  <img src="#/assets/img/user-image.png" width="85" height="85" class="author-image" alt="" />
    <div class="card">
      <div class="title">About the Author</div>
      Interesting description about you :-)...
    </div>  
  </div>
</div>